@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#root {
   
}

#outlet-content {
    height: -webkit-fill-available;
    overflow-y: auto;
}


.selected-seat {
    fill: #c6ffc6!important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
    accent-color: black;
}
